{{> authheader }}
<div class="container text-center font-size:20" >
    <div  style="background-color: red;">
        {{#each error}}
        <h1 class="row mx-auto">{{msg}} in the feild {{param}}</h1>
        {{/each}}
        
    </div>
</div>
<div class="container mx-auto rounded mt-4" style="background-color: white; width:fit-content">
<div  class="m-2">
    
    
    <form method="post" action="/login" >
    <div class=" row">
       <a class="mx-auto" href="/" > <img class="img-responsive" src="/images/logo.png" ></a>
    </div>
    <div class="form-group row">
        <label >Email </label>
        <input class="form-control"  type="email"  name="email" required>
    </div>
    <div class="form-group row">
        <label >Password </label>
        <input class="form-control"  type="password" placeholder="min 8 chars (a-zA-Z0-9)" name="password" required>
    </div>
    <div class=" text-center">
                <button class="btn btn-primary px-4" type="submit">Log In</button>
    </div>
    <div class="form-group row mt-2">
     <a  href="/register"  class="link-primary" style="color: blue;"><small><u>Dont have an account? Register.</u> </small></a>
    </div>
    </form>
    </div>

</div>
{{> authfooter }}