{{> authheader }}

<div class="container mx-auto rounded mt-4" style="background-color: white; width:fit-content">
<div  class="m-2">
    
    
    
    <div class=" row">
       <a class="mx-auto" href="/" > <img class="img-responsive" src="/images/logo.png" ></a>
    </div>
    <div class="row">
        <label >Thanks for register. this account will be pended until an admin aprove it and then you will get an email of success </label>
       
    </div>
   
    
    </div>

</div>
{{> authfooter }}