<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/fonts/nunito/stylesheet.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
     <link rel="stylesheet" href="/css/swiper.min.css">
     <link rel="stylesheet" href="/css/style.css">
     <title>Control Panel</title>
   
</head>

<body style="background-color:#353a40;">
     
    <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin/"> <img class="img-responsive" src="/images/logo.png" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Users</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categories</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/courses">Courses</a>
      </li>
      
    </ul>
     <ul class="navbar-nav mr-1 mt-2 mt-lg-0">
      <li class="nav-item active ">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">logout <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
   
  </div>
</nav>
        <div class="container-fluid " >
       
    <div class="row" style="background-color: white;"><h1>{{page}}:-</h1></div>
<div class="container-fluid " >
  
   